@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase

<aside class="side-nav" id="show-side-navigation1">
    <NavMenu />
</aside>

<section id="contents">
    <TopMenu />
    <main role="main" class="pb-3">
        @Body
    </main>
</section>
