SEP3_DataLayer/.idea
SEP3_DataLayer/target
SEP3_BusinessLayer/.idea
SEP3_BusinessLayer/target
/SEP3_Client/WebCoreMVC.NET/bin/
/SEP3_Client/WebCoreMVC.NET/obj/
tags

.idea
.DS_Store
*.xml
.vs
*.dll
*.cache
SEP3_Client/WebCoreMVC.NET/obj/Debug/netcoreapp3.0/WebCoreMVC.NET.pdb
*.dll
*.cache
