@model WebCoreMVC.NET.Models.Sprint

@{
    ViewData["Title"] = "PlanSprint";
}
<head>
    <title>Create Sprint</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>

<div class="text-center container">
    <h1>Create Sprint</h1>
    <hr/>

    <form asp-controller="Sprint" asp-action="PostSprint">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="projectId" type="hidden" class="form-control" value="-1"/>
            
        <input asp-for="sprintId" type="hidden" class="form-control" value="-1"/>
            
        <div class="form-group">
            <label class="control-label">Sprint Number</label>
            <input asp-for="sprintNumber" class="form-control" placeholder="Sprint Number" required="required"/>
            <span asp-validation-for="sprintNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Date picker has to be implemented for now we are sending todays date</label>
                <input asp-for="dateStarted" class="form-control" type="hidden" value="@Convert.ToDateTime(DateTime.Today.ToString("d")).ToString("yyyy-MM-dd")"/>
            <span asp-validation-for="dateStarted" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Date picker has to be implemented for now we are sending todays date</label>
            <input asp-for="dateFinished" class="form-control" type="hidden" value="@Convert.ToDateTime(DateTime.Today.ToString("d")).ToString("yyyy-MM-dd")"/>
            <span asp-validation-for="dateFinished" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Product Owner ID</label>
            <input asp-for="productOwnerId" class="form-control" placeholder="Product Owner ID" required="required"/>
            <span asp-validation-for="productOwnerId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Scrum Master ID</label>
            <input asp-for="scrumMasterId" class="form-control" placeholder="Scrum Master ID" required="required"/>
            <span asp-validation-for="scrumMasterId" class="text-danger"></span>
        </div>
            <input asp-for="status"  type="hidden" value="ongoing" class="form-control" placeholder="Status" required="required"/>
            <span asp-validation-for="status" class="text-danger"></span>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary btn-block btn-large"/>
        </div>
    </form>
</div>
<script src="js/navbar.js"></script>