@model System.Collections.Generic.List<WebCoreMVC.NET.Models.UserStory>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Product Backlog</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
<h1>User Stories</h1>
<div class="row">
        @foreach (var item in Model) {
            <li>@item.userStoryId @item.description</li>
        }
</div>
</body>
</html>