@model ContainerForListAndId<UserStory>

@{
    ViewData["Title"] = "Product Backlog";
}

<!DOCTYPE html>

<html>
<head>
    <title>Product Backlog</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
<h1>User Stories</h1>
<div class="row">
    <div class="structure">
        <button onclick="location.href='@Url.Action("AddUserStory", "Backlog")'">Add a user story</button>
        @foreach (var item in Model.accessList)
        {
            <div class="row">
                <li>@item.userStoryId @item.description</li>
                <button onclick="location.href='@Url.Action("DeleteUserStory", "Backlog", @item)'">Delete user story</button>
            </div>
        }
    </div>
</div>
</body>
</html>