* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    outline: none;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.mainPage {
    height: 1000px;
}

body {
    background-color: #2a2b3d;
    color: white;
}

#contents {
    position: relative;
    transition: .3s;
    margin-left: 290px;
    /*background: #42275a;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #734b6d, #42275a);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #734b6d, #42275a); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}

.margin {
    margin-left: 0 !important;
}

/* Start side navigation bar  */

.side-nav {
    float: left;
    height: 100%;
    width: 290px;
    background-color: #252636;
    color: #CCC;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: .3s;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 9999999
}

.side-nav .close-aside {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    color: #EEE;
}

.side-nav .heading {
    background-color: #252636;
    padding: 15px 15px 15px 30px;
    overflow: hidden;
    border-bottom: 1px solid #2a2b3c
}

.side-nav .heading > img {
    border-radius: 50%;
    float: left;
    width: 28%;
}

.side-nav .info {
    float: left;
    width: 69%;
    margin-left: 3%;
}

.side-nav .heading .info > h3 {
    margin: 0 0 5px
}

.side-nav .heading .info > h3 > a {
    color: #EEE;
    font-weight: 100;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    font-size: 18px;
}

.side-nav .heading .info > h3 > a:hover {
    color: #FFF;
}

.side-nav .heading .info > p {
    color: #BBB;
    font-size: 13px;
}

/* End heading */


.side-nav .categories > li {
    padding: 17px 40px 17px 30px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
    cursor: pointer;
}

.side-nav .categories > li > a {
    color: #AAA;
    text-decoration: none;
}

/* Start num: there are three options primary, danger and success like Bootstrap */
.side-nav .categories > li > a > .num {
    line-height: 0;
    border-radius: 3px;
    font-size: 14px;
    color: #FFF;
    padding: 0 5px;
}

.dang {
    background-color: #f35959
}

.prim {
    background-color: #0275d8
}

.succ {
    background-color: #5cb85c
}

/* End num */
.side-nav .categories > li > a:hover {
    color: #FFF
}

.side-nav .categories > li > i {
    font-size: 18px;
    margin-right: 5px
}

.side-nav .categories > li > a:after {
    content: "\f053";
    font-family: fontAwesome;
    font-size: 11px;
    line-height: 1.8;
    float: right;
    color: #AAA;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.side-nav .categories .opend > a:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* End categories */
/* Start dropdown menu */
.side-nav .categories .side-nav-dropdown {
    padding-top: 10px;
    padding-left: 30px;
    list-style: none;
    display: none;
}

.side-nav .categories .side-nav-dropdown > li > a {
    color: #AAA;
    text-decoration: none;
    padding: 7px 0;
    display: block;
}

.side-nav .categories p {
    margin-left: 30px;
    color: #535465;
    margin-top: 10px;
}

/* End dropdown menu */

.show-side-nav {
    -webkit-transform: translateX(-290px);
    -moz-transform: translateX(-290px);
    transform: translateX(-290px);
}


/* Start media query */
@media (max-width: 767px) {
    .side-nav .categories > li {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .side-nav .search {
        padding: 10px 0 10px 30px
    }
}


.main-color {
    color: #ffc107
}


/* Start bootstrap */
.navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

.navbar-default {
    background-color: #252636 !important;
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important
}

.navbar-default .navbar-nav > li > a {
    color: #EEE !important;
    line-height: 55px !important;
    padding: 0 10px !important;
}

.navbar-default .navbar-brand {
    color: #FFF !important
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #EEE !important
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent !important;
    color: #FFF !important
}

.navbar-default .navbar-brand {
    line-height: 55px !important;
    padding: 0 !important
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #FFF !important
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin: 0 !important
}

@media (max-width: 767px) {
    .navbar > .container-fluid .navbar-brand {
        margin-left: 15px !important;
    }

    .navbar-default .navbar-nav > li > a {
        padding-left: 0 !important;
    }

    .navbar-nav {
        margin: 0 !important;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none !important;
    }
}

.navbar-default .navbar-nav > li > a {
    float: left !important;
}

.navbar-default .navbar-nav > li > a > span:not(.caret) {
    background-color: #e74c3c !important;
    border-radius: 50% !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px !important;
    font-size: 11px !important;
    position: relative !important;
    top: -10px !important;
    right: 5px !important
}

.project {
    margin: 10px;
    width: 450px;
    height: 300px;
    padding: 20px;
    background: #313348;
}

.sprint {
    padding: 20px;
    margin: 10px;
    width: 450px;
    height: 300px;
    background: #313348;}

.new_sprint {
    width: 450px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    width: 450px;
    height: 300px;
    background: #313348;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create {
    width: 450px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    width: 450px;
    height: 300px;
    background: #313348;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.structure {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    flex-flow: row wrap !important;
    align-content: flex-end !important;
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: white;
}

.example_c {
    color: #494949 !important;
    text-decoration: none;
    background: #A9ACA9;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-size: 14px;
    width: 150px;
    height: 50px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}

    .example_c:hover {
        color: #ffffff !important;
        background: #3F3244;
        border-color: #2a2b3d !important;
        transition: all 0.4s ease 0s;
    }

.buttonContainer {
    display: flex !important;
    flex-wrap: wrap !important;
}

.break {
    flex-basis: 100% !important;
    height: 10px !important;
}

.w3-button {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-xlarge {
    font-size: 48px !important;
}

.w3-xxlarge {
    font-size: 36px !important;
}

.w3-xxxlarge {
    font-size: 48px !important;
}

.w3-jumbo {
    font-size: 64px !important;
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-black,
.w3-hover-black:hover {
    color: #494949 !important;
    background-color: #BFC3BA !important;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}