.project {
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 450px;
    height: 300px;
    padding: 20px;
    background: #60495A;
}

.sprint {
    margin: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    width: 600px;
    height: 300px;
    padding: 20px;
    background: #60495A;
}

.new_sprint {
    margin: 10px;
    border: 1px solid #eee;
    width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #60495A;

}

.create {
    margin: 10px;
    border: 1px solid #eee;
    width: 600px;
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #60495A;
}

.structure {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    flex-flow: row wrap !important;
    align-content: flex-end !important;
    margin-left: 20px;
}

h1 {
    text-align: center;
    color: black;
}

.example_c {
    color: #494949 !important;
    text-decoration: none;
    background: #A9ACA9;
    padding: 20px;
    border: 4px solid #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-size: 14px;
    width: 150px;
    height: 30px;
    margin-right: 25px;
    margin-left: 25px;
}

    .example_c:hover {
        color: #ffffff !important;
        background: #3F3244;
        border-color: #purple !important;
        transition: all 0.4s ease 0s;
    }

.buttonContainer {
    display: flex !important;
    flex-wrap: wrap !important;
}

.break {
    flex-basis: 100% !important;
    height: 10px !important;
}

.w3-button {
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.w3-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-xlarge {
    font-size: 48px !important;
}

.w3-xxlarge {
    font-size: 36px !important;
}

.w3-xxxlarge {
    font-size: 48px !important;
}

.w3-jumbo {
    font-size: 64px !important;
}

.w3-card-4,
.w3-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.w3-black,
.w3-hover-black:hover {
    color: #494949 !important;
    background-color: #BFC3BA !important;
}

.w3-button:hover {
    color: #000 !important;
    background-color: #ccc !important;
}
