@model List<WebCoreMVC.NET.Models.Task>

@{
    ViewData["Title"] = "Tasks";
}
<head>
    <title>Sprints</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
</head>
<body>
<h1>Tasks</h1>
            <button class="backButton w3-button w3-black w3-card-4" onclick="goToPreviousWebsite()">Go Back</button>
<div class="row">
    <div class="structure">
        <br/>
        <br/>
        @foreach (var item in Model) {
            
        }
    </div>
</div>
</body>